# Tell GitHub to show the specific React syntax (JSX) instead of plain JavaScript
*.jsx linguist-language=JSX

# Keep Python detection
*.py linguist-language=Python

# Hide documentation from the bar to make the code percentages higher
Readme.md linguist-documentation
CONTRIBUTING.md linguist-documentation
requirements.txt linguist-documentation
.gitattributes linguist-documentation
index.html linguist-documentation
